<div [class.dark-theme]="darkMode">
	<mat-sidenav-container>
		<mat-sidenav-content>
			<mat-toolbar>
				<mat-toolbar-row>
					<span>Ementas UC</span>
					<span class="example-spacer"></span>

					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>more_vert</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="refresh()">
							<mat-icon>refresh</mat-icon>
							<span>Refresh</span>
						</button>
						<span mat-menu-item>
							<mat-slide-toggle [checked]="darkMode" (change)="toggleTheme()">Dark theme</mat-slide-toggle>
						</span>
					</mat-menu>
				</mat-toolbar-row>
			</mat-toolbar>
			<app-diarias></app-diarias>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>