<div [class.dark-theme]="darkMode">
	<mat-sidenav-container>
		<mat-sidenav-content>
			<mat-toolbar>
				<mat-toolbar-row class="container">
					<mat-icon svgIcon="logo"></mat-icon>
					<span>Ementas UC</span>
					<span class="example-spacer"></span>
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon>menu</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<span mat-menu-item>
							<mat-slide-toggle [checked]="darkMode" (change)="toggleTheme()">{{strings.darkMode[language]}}</mat-slide-toggle>
						</span>
						<button mat-menu-item (click)="refresh()">
							<mat-icon>refresh</mat-icon>
							<span>{{strings.refresh[language]}}</span>
						</button>
						<button mat-menu-item [matMenuTriggerFor]="languages">
							<mat-icon>language</mat-icon>
							<span>{{strings.language[language]}}</span>
						</button>
						<mat-menu #languages="matMenu">
							<button mat-menu-item (click)="changeLanguage('pt')">PT</button>
							<button mat-menu-item (click)="changeLanguage('en')">EN</button>
						</mat-menu>
					</mat-menu>
				</mat-toolbar-row>
			</mat-toolbar>
			<div class="container">
				<app-diarias></app-diarias>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
