<div class="wrapper" *ngIf="loading">
	<mat-spinner mode="indeterminate"> </mat-spinner>
</div>

<ng-container *ngIf="!loading">
	<mat-grid-list cols="12" rowHeight="5em">
		<mat-grid-tile colspan="2" rowspan="1">
			<button mat-icon-button (click)="swipeLeft()">
				<mat-icon>arrow_back</mat-icon>
			</button>
		</mat-grid-tile>
		<mat-grid-tile colspan="8" rowspan="1">
			<button mat-button (click)="goToToday()" matTooltip="Ir para a ementa de hoje">
				{{atual.fmtDataShort()}}
			</button>
			<button mat-icon-button (click)="picker.open()">
				<mat-icon>today</mat-icon>
			</button>

			<input type="hidden" [matDatepicker]="picker" [value]="atual.data" [min]="diarias[0].data" [max]="diarias[diarias.length-1].data"
			 (dateChange)="updateDiaria($event)">
			<mat-datepicker touchUi #picker startView="month" [startAt]="atual.data"></mat-datepicker>

		</mat-grid-tile>
		<mat-grid-tile colspan="2" rowspan="1">
			<button mat-icon-button (click)="swipeRight()">
				<mat-icon>arrow_forward</mat-icon>
			</button>
		</mat-grid-tile>
	</mat-grid-list>

	<ng-container *ngFor="let diaria of diarias; let idx = index">
		<mat-list *ngIf="diaria.id == currentId" (swipeleft)="swipe(idx, $event.type)" (swiperight)="swipe(idx, $event.type)">
			<h3 mat-subheader>Almoço</h3>
			<mat-list-item *ngFor="let prato of diaria.almoco.pratos">
				<mat-icon mat-list-icon>fastfood</mat-icon>
				<h4 mat-line>{{prato.nome}}</h4>
				<p mat-line> {{prato.calorias | number : '1.0-0'}} KCal</p>
			</mat-list-item>

			<mat-divider></mat-divider>

			<h3 mat-subheader>Jantar</h3>
			<mat-list-item *ngFor="let prato of diaria.jantar.pratos">
				<mat-icon mat-list-icon>fastfood</mat-icon>
				<h4 mat-line>{{prato.nome}}</h4>
				<p mat-line> {{prato.calorias | number : '1.0-0'}} KCal</p>
			</mat-list-item>
		</mat-list>
	</ng-container>
</ng-container>